*{
 margin:0px;
 padding:0px;
}


.wrapper{
	height:auto;
	width:1100px;
	margin-left:auto;
	margin-right:auto; 	
	background-color: #999; 
	border: 5px solid   #900; 
  	}


.header{
	height:50px;
	width:1100px;
	background-color: #00F;
 	vertical-align:center;
	text-align: center;
	color:#FFF
 	
	}


.body{
	height:auto;
	margin-left:auto;
	margin-right:auto;
	width:1100px;
	background-color: #FFF;
	color:#FFF
	}

.border{
	height:auto;
	width: 500px;	 
	margin-left:auto;
	margin-right:auto;
	border-style:solid;	
	border: 5px solid   #00F;
	padding:padding: 5px 1px 0 10px;
	min-height:400px; 
	   }

.marginformleft{
 	margin-left:100px;
  	   }



 
.footer{
 	width:1100px;
	min-height:50px;
	background-color:#900;	 
	color:#FFF;
 }

h1{ 
color:#FFF;
font-size:25;
font-family:airal;
}


p{
 color:#000;
 font-family:Verdana;
 font-size:15px;
 font-weight: bold;
 margin-left:5px;
 padding-left:5px;
 
	}

right{
float:right;
}


 